# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
# 記得先 Import 正確的套件

import numpy as np
import pandas as pd

In [2]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [13]:
#計算每個不同種類 animal 的 age 的平均數

df.groupby('animal').mean()['age']

animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64

In [14]:
#將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序

df.sort_values(by='age', ascending=True).sort_values(by='visits', ascending=False)

  animal  age  visits priority
f    cat  2.0       3       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
a    cat  2.5       1      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
h    cat  NaN       1      yes

In [16]:
#將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False

df['priority'].replace({'yes':True, 'no':False})

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html

a     True
b     True
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: priority, dtype: bool

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [17]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.934832  0.207279  0.329566
1  0.610371  0.759778  0.266798
2  0.533637  0.842436  0.674982
3  0.451080  0.157253  0.684814
4  0.921802  0.581224  0.725428

In [31]:
'''
Your Code
'''

          0         1         2
0  0.130010  0.316253  0.158839
1  0.148624 -0.524442  0.117382
2 -0.085726  0.073242 -0.620083
3  0.129444  0.056036  0.155504
4 -0.322352  0.078911  0.188358

In [32]:
'''
Your Code
'''

          0         1         2
0 -0.068501  0.014680  0.053821
1  0.237960 -0.538169  0.300209
2  0.128320  0.184225 -0.312545
3  0.018972 -0.157497  0.138525
4 -0.300801 -0.002600  0.303401

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [33]:
df

          0         1         2
0  0.763566  0.846747  0.885887
1  0.782180  0.006052  0.844430
2  0.547830  0.603736  0.106965
3  0.763000  0.586530  0.882552
4  0.311204  0.609405  0.915406

In [34]:
'''
Your Code
'''

/Users/wei/.virtualenvs/py3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  """Entry point for launching an IPython kernel.

2

In [35]:
'''
Your Code
'''

/Users/wei/.virtualenvs/py3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  """Entry point for launching an IPython kernel.

0