# [作業目標]

1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

3. 假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

# 作業

### 1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

In [2]:
# 記得先 Import 正確的套件

import numpy as np
import pandas as pd

In [3]:
# 參考解答：方法一（from lict）

# 1. Create a DataFrame `fruits` that looks like left:

df = pd.DataFrame([[30, 21]], columns=['Apples', 'Bananas'])
print(df)


# 2. Create a dataframe `fruit_sales` that matches the diagram right:

df = pd.DataFrame([[30, 21], [41, 34]], columns=['Apples', 'Bananas'], index=['2017 Sales', '2018 Sales'])
print(df)

   Apples  Bananas
0      30       21
            Apples  Bananas
2017 Sales      30       21
2018 Sales      41       34

### 2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

In [5]:
# 參考解答：方法二

d = [
    ['Austin', 139, 'Sun'],
    ['Dallas', 237, 'Sun'],
    ['Austin', 139, 'Mon'],
    ['Dallas', 456, 'Mon'],
]

df = pd.DataFrame(d, columns=['city', 'visitor', 'weekday'])
print(df)
df

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      139     Mon
3  Dallas      456     Mon

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      139     Mon
3  Dallas      456     Mon

### 3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

In [6]:
# 參考解答
for day in set(df['weekday']):
    print(day, df[df['weekday'] == day]['visitor'].mean())

Sun 188.0
Mon 297.5