# 範例
***

# [教學目標]

* 能夠使用不同的方法初始化一個陣列
* 知道固定大小對於陣列的意義
* 了解不同的亂數陣列有什麼差異

In [1]:
# 載入 NumPy, Pandas 套件
import numpy as np
import pandas as pd

# 檢查正確載入與版本
print(np)
print(np.__version__)
print(pd)
print(pd.__version__)

<module 'numpy' from '/Users/wei/.virtualenvs/py3/lib/python3.6/site-packages/numpy/__init__.py'>
1.16.1
<module 'pandas' from '/Users/wei/.virtualenvs/py3/lib/python3.6/site-packages/pandas/__init__.py'>
0.23.1

In [7]:
# Series

s = pd.Series([1,2,3])
print(s)
s

0    1
1    2
2    3
dtype: int64

0    1
1    2
2    3
dtype: int64

In [8]:
s = pd.Series([1,2,3],  index=['Amy', 'Bob', 'Tom'])
print(s)
s

Amy    1
Bob    2
Tom    3
dtype: int64

Amy    1
Bob    2
Tom    3
dtype: int64

In [9]:
# DataFrame

df = pd.DataFrame([1, 2, 3])
print(df)
df

   0
0  1
1  2
2  3

   0
0  1
1  2
2  3

In [10]:
df = pd.DataFrame([1, 2, 3], index=['a', 'b', 'c'], columns=['No'])
print(df)
df

   No
a   1
b   2
c   3

   No
a   1
b   2
c   3

In [11]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6]])

print(df)
df

   0  1  2
0  1  2  3
1  4  5  6

   0  1  2
0  1  2  3
1  4  5  6

In [12]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], index=['a', 'b'], columns=['A', 'B', 'C'])
print(df)
df

   A  B  C
a  1  2  3
b  4  5  6

   A  B  C
a  1  2  3
b  4  5  6

In [13]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Age': [18, 20],
})
print(df)
df

    Name  Age
0  Alice   18
1    Bob   20

    Name  Age
0  Alice   18
1    Bob   20

In [14]:
df = pd.DataFrame([
  {'Name': 'Alice', 'Age': 18},
  {'Name': 'Bob', 'Age': 20}
])
print(df)
df

   Age   Name
0   18  Alice
1   20    Bob

   Age   Name
0   18  Alice
1   20    Bob

In [15]:
# DataFrame 是由 Series 组成的

df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], index=['a', 'b'], columns=['A', 'B', 'C'])
print(df['B'])
print(type(df['B']))

a    2
b    5
Name: B, dtype: int64
<class 'pandas.core.series.Series'>

In [16]:
# DataFrame 的常用屬性

print(df.shape)
print(df.size)
print(df.index)
print(df.columns)
print(df.values)

(2, 3)
6
Index(['a', 'b'], dtype='object')
Index(['A', 'B', 'C'], dtype='object')
[[1 2 3]
 [4 5 6]]

In [17]:
# 查看資料

print(df.head())
print(df.tail())
print(df.describe())
print(df.info())

   A  B  C
a  1  2  3
b  4  5  6
   A  B  C
a  1  2  3
b  4  5  6
             A        B        C
count  2.00000  2.00000  2.00000
mean   2.50000  3.50000  4.50000
std    2.12132  2.12132  2.12132
min    1.00000  2.00000  3.00000
25%    1.75000  2.75000  3.75000
50%    2.50000  3.50000  4.50000
75%    3.25000  4.25000  5.25000
max    4.00000  5.00000  6.00000
<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, a to b
Data columns (total 3 columns):
A    2 non-null int64
B    2 non-null int64
C    2 non-null int64
dtypes: int64(3)
memory usage: 64.0+ bytes
None